body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

.app {
  padding: 20px;
}

h4 {
  color: black;
  font-size: 2.5rem;
  margin-bottom: 20px;
  font-family: cursive;
}

.search-form {
  margin-bottom: 5px;
  filter:drop-shadow(1px 1px 20px yellow);
}

.search-input {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ced4da;
  border-radius: 5px;
  width: 20%;
  margin-right: 10px;
  
}

.btn {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 1px 1px 20px red;

}

.btn-primary {
  background-color: #007bff;
  color: #fff;
}

.btn-primary:hover {
  background-color: #0056b3;
}
